:root {
  --primary-color: #333;
  --secondary-color: #fff;
  --tertiary-color: #eee;
  --fourth-color: #ccc;
  --header-color: #fff;
  --text-color: #333;

  --success-color: #c5ffd2;
  --danger-color: #ffcdd2;
  --neutral-color: #ffefcd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

html[data-theme="dark"] {
  --primary-color: #1f1f1f;
  --secondary-color: #333;
  --tertiary-color: #444;
  --fourth-color: #555;
  --header-color: #fff;
  --text-color: var(--header-color);

  --success-color: #1b5e20;
  --danger-color: #b71c1c;
  --neutral-color: #f57f17;
}
html[data-theme="light"] {
  --primary-color: #333;
  --secondary-color: #fff;
  --tertiary-color: #eee;
  --fourth-color: #ccc;
  --header-color: #fff;
  --text-color: #333;

  --success-color: #c5ffd2;
  --danger-color: #ffcdd2;
  --neutral-color: #ffefcd;
}

html,
body {
  width: 100%;
  font-size: 12px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: "Noto Sans";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

body > * {
  text-align: justify;
  width: 80%;
}

h1, h2, h3 {
    padding-top: 1rem;
}

.signature {
    text-align: right;
}