:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --tertiary-color: #eee;
    --fourth-color: #ccc;
    --header-color: #fff;
    --text-color: #333;

    --success-color: #c5ffd2;
    --danger-color: #ffcdd2;
    --neutral-color: #ffefcd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

html[data-theme="dark"] {
    --primary-color: #1f1f1f;
    --secondary-color: #333;
    --tertiary-color: #444;
    --fourth-color: #555;
    --header-color: #fff;
    --text-color: var(--header-color);

    --success-color: #1b5e20;
    --danger-color: #b71c1c;
    --neutral-color: #f57f17;
}
html[data-theme="light"] {
    --primary-color: #333;
    --secondary-color: #fff;
    --tertiary-color: #eee;
    --fourth-color: #ccc;
    --header-color: #fff;
    --text-color: #333;

    --success-color: #c5ffd2;
    --danger-color: #ffcdd2;
    --neutral-color: #ffefcd;
}


html,
body {
    height: 100%;
    width: 100%;
    font-size: 12px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: "Noto Sans";
}

body {
    display: flex;
    flex-direction: column;
}

/*---HEADER---*/
header {
    flex: 0 0 60px;
    background-color: var(--primary-color);
    color: var(--header-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
}

header h1 {
    font-size: 1.8rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.logo span {
    font-size: 1.8rem;
    font-weight: 50;
    margin-left: 0.5rem;
}

header .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Toggle */

.toggle-switch {
    position: relative;
    width: 5rem;
    height: 2rem;
    margin: 1rem;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 2rem;
    background-color: var(--dark);
    border-radius: 1rem;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 1px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    -webkit-box-shadow: inset 0.4rem -0.1rem 0px 0px var(--light);
    box-shadow: inset 0.4rem -0.1rem 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* */

button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

header > button {
    max-width: 300px;
}

#formContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#formContainer .form {
    width: 100vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-color);
    padding: 2rem;
    position: relative;
}

.form > p,
.form a {
    color: var(--header-color);
    font-size: 1.1rem;
    text-align: justify;
}

.form > img {
    width: 100%;
    height: 7rem;
    object-fit: contain;
    margin-bottom: 1rem;
    mix-blend-mode: screen;
}

.legals {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.loader {
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #6a9ab9; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#CloseFormButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--header-color);
    font-size: 1.5rem;
}

.field-holder {
    position: relative;
    margin-bottom: 0.5rem;
}

.field-holder input {
    border: 0;
    border-bottom: 1px solid var(--fourth-color);
    background-color: transparent;
    outline: none;
    color: var(--header-color);
    font-size: 1.2rem;
}
.field-holder label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--header-color);
}
header input,
header label {
    font-size: 1rem;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    cursor: text;
    transition: all 0.3s ease;
}

header input:focus + label,
header input:valid + label {
    color: var(--fourth-color);
    font-size: 0.9rem;
    top: -25px;
    pointer-events: none;
}

header input:focus,
header input:valid {
    border-bottom: 1px solid var(--header-color);
}

/*---MAIN---*/
main {
    flex: 1;
    padding: 0.9rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    overflow: auto;
}

main > * {
    flex: 1;
}

#chart-panel:not(.hidden) {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.chart-container {
    position: relative;
    height: 100%;
    width: 50%;
}

table > * > * > *:not(:has(> input)) {
    padding: 0.5rem 0.8rem;
}

thead {
    background-color: var(--primary-color);
    color: var(--header-color);
}

thead tr th {
    border: var(--fourth-color) 1px solid;
}

tbody > tr > td {
    color: var(--text-color);
    border: 1px solid var(--fourth-color);
    padding: 0.5rem 0.8rem;
}

td > input {
    font-size: 1rem;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #979797;
    width: 3rem;
}

td > input:focus {
    color: var(--text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

tbody > tr > th {
    background-color: var(--primary-color);
    color: var(--header-color);
    text-align: left;
    border: var(--fourth-color) 1px solid;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.5rem 0.8rem;
}
tbody > tr > th > input {
    margin-right: 0.5rem;
    accent-color: var(--fourth-color);
    width: 1rem;
    height: 0.9rem;
    vertical-align: middle;
}

tbody > tr.option > td,
tbody > tr.option > td > input {
    color: var(--fourth-color) !important;
}

tbody > tr:nth-child(odd) > td {
    background-color: var(--tertiary-color);
}

#total > td,
.totalCoef,
tr:not(#moyBonus) > td:last-child {
    font-weight: bold;
}

#total > td:last-child {
    font-size: 1.1rem;
}

abbr {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dotted #333;
    position: relative;
}
abbr[title],
acronym[title] {
    border-bottom: none;
}

tr > .good {
    background-color: var(--success-color) !important;
}

tr > .bad {
    background-color: var(--danger-color) !important;
}

tr > .neutral {
    background-color: var(--neutral-color) !important;
}

#moyBonus > td {
    font-size: 1.1rem;
    font-weight: bold;
}

/*---FOOTER---*/
footer {
    flex: 0 0 60px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

footer button {
    max-width: 300px;
}

.hidden {
    display: none;
}

/*---RESPONSIVE---*/
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    header > .menu {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    header button {
        width: auto;
    }
}

@media only print {
    .print-hidden {
        display: none;
    }

    .print-visible {
        display: block;
        overflow: visible;
        font-size: 10px;
        padding: 0;
    }
    .print-visible > *,
    .print-visible > * > *,
    .print-visible > * > * > *,
    .print-visible #total > td:last-child,
    .print-visible #moyBonus > td {
        font-size: 10px;
    }

    .print-visible tr > .good {
        background-color: var(--success-color) !important;
    }

    .print-visible tr > .bad {
        background-color: var(--danger-color) !important;
    }
}

@media (pointer: coarse) {
    .toggle-switch {
        -webkit-tap-highlight-color: transparent;
    }
}

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}
